Examples/BookStoreLib/BookStore.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="bookstore" type="bookstoreType" />
	<xsd:complexType name="bookstoreType">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="book" type="bookType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="bookType">
		<xsd:sequence>
			<xsd:element name="title" type="xsd:string" />
			<xsd:element name="author" type="authorName" />
			<xsd:element name="genre" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="price" type="xsd:double" use="required" />
		<xsd:attribute name="publicationdate" type="xsd:date" />
		<xsd:attribute name="ISBN" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="authorName">
		<xsd:sequence>
			<xsd:element name="first-name" type="xsd:string" />
			<xsd:element name="last-name" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
